body {
  margin: 0;
  padding: 20px;
}

.Book {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 20px;
}

.show {
  display: block;
}

.hide {
  display: none;
}
